In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])

## The Pandas Series Object

In [6]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [8]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
data[1]

0.5

In [10]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])

In [12]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [13]:
data['b']

0.5

In [14]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

In [15]:
population = pd.Series(population_dict)

In [16]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [17]:
population['California']

38332521

In [18]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [19]:
pd.Series(5, index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [20]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [21]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

## DataFrame as generalized NumPy array

In [22]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}

In [23]:
area = pd.Series(area_dict)

In [24]:
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [25]:
states = pd.DataFrame({'population': population, 'area': area})

In [26]:
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [27]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [28]:
states.columns

Index(['population', 'area'], dtype='object')

## DataFrame as specialized dictionary

In [29]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [30]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

### From a list of dicts

In [31]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]

In [32]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [33]:
pd.DataFrame([{'a': 1, 'b':2}, {'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [34]:
### From a two-dimensional NumPy Array

In [36]:
pd.DataFrame(np.random.rand(3, 2),
             columns = ['foo', 'bar'],
             index = ['a', 'b', 'c'])

        foo       bar
a  0.284333  0.890854
b  0.528849  0.047030
c  0.582813  0.664405

### From a NumPy structured array

In [38]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])

In [39]:
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [40]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## The Pandas Index Object

In [42]:
ind = pd.Index([2, 3, 5, 7, 11])

In [43]:
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [44]:
ind[1]

3

In [45]:
ind[:2]

Int64Index([2, 3], dtype='int64')

In [46]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [47]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

#### One difference between Index objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via the normal means: ind[1] = 0 will error

In [48]:
### Index as ordered set

In [52]:
indA = pd.Index([1, 3, 5, 7, 9])

In [53]:
indB = pd.Index([2, 3, 5, 7, 11])

In [54]:
indA & indB

/var/folders/2c/5n1ds71d3v35fmncr8yhbwzm0000gn/T/ipykernel_3343/144964795.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [55]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [56]:
indA | indB

/var/folders/2c/5n1ds71d3v35fmncr8yhbwzm0000gn/T/ipykernel_3343/3251124211.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [57]:
indA.union(indB)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [58]:
indA ^ indB

/var/folders/2c/5n1ds71d3v35fmncr8yhbwzm0000gn/T/ipykernel_3343/2832893868.py:1: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead.
  indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

In [59]:
indA.symmetric_difference(indB)

Int64Index([1, 2, 9, 11], dtype='int64')