In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
vals1 = np.array([1, None, 3, 4])

In [4]:
vals1

array([1, None, 3, 4], dtype=object)

In [6]:
for dtype in ['object', 'int']:
    print("dtype =", dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()

dtype = object
42.3 ms ± 55.6 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
dtype = int
566 µs ± 1.19 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [7]:
vals1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

### This reflects the fact that addition between an integer and None is undefined

In [8]:
vals2 = np.array([1, np.nan, 3, 4])

In [9]:
vals2.dtype

dtype('float64')

In [10]:
1 + np.nan

nan

In [11]:
0 * np.nan

nan

In [12]:
vals2.sum(), vals2.min(), vals2.max()

(nan, nan, nan)

### The result not useful, except igonre missing values

In [13]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2)

(8.0, 1.0, 4.0)

### Note: NaN is a floating-point value; there is no NaN value for integers, strings or other types

### Pandas handle Nan and None nearly interchangeably

In [14]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [15]:
x = pd.Series(range(2), dtype=int)

In [16]:
x

0    0
1    1
dtype: int64

In [17]:
x[0] = None

In [18]:
x

0    NaN
1    1.0
dtype: float64

### Operating on Null Values

In [19]:
data = pd.Series([1, np.nan, 'hello', None])

In [20]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [21]:
data[data.notnull()]

0        1
2    hello
dtype: object

In [22]:
data.dropna()

0        1
2    hello
dtype: object

In [23]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])

In [24]:
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

### We cannot drop single values from a DataFrame; drop full rows or columns

In [25]:
df.dropna()

     0    1  2
1  2.0  3.0  5

In [26]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

In [27]:
df[3] = np.nan

In [28]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [29]:
df.dropna(axis='columns', how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [30]:
df.dropna(axis='rows', thresh=3)

     0    1  2   3
1  2.0  3.0  5 NaN

### Filling null values

In [31]:
data = pd.Series([1, np.nan, 2, None, 3], index = list('abcde'))

In [32]:
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [33]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

#### forward fill or backward

In [34]:
data.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [35]:
data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [36]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [37]:
df.fillna(method='ffill', axis=1)

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0